In [5]:
# Python Dictionary
empdat={"saravana":[21,"saravana@gmail.com",98000],
        "satheesh":[23,"satheesh@gmail.com",60000],
        "optimus":[19,"optimus@gmail.com",65000],
        "prime":[20,"prime@gmail.com",75000],
        "kumar":[24,"kumar@gmail.com",50000]}
empdat

{'saravana': [21, 'saravana@gmail.com', 98000],
 'satheesh': [23, 'satheesh@gmail.com', 60000],
 'optimus': [19, 'optimus@gmail.com', 65000],
 'prime': [20, 'prime@gmail.com', 75000],
 'kumar': [24, 'kumar@gmail.com', 50000]}

In [6]:
empdat.keys()

dict_keys(['saravana', 'satheesh', 'optimus', 'prime', 'kumar'])

In [7]:
empdat.values()

dict_values([[21, 'saravana@gmail.com', 98000], [23, 'satheesh@gmail.com', 60000], [19, 'optimus@gmail.com', 65000], [20, 'prime@gmail.com', 75000], [24, 'kumar@gmail.com', 50000]])

In [9]:
empdat["optimus"]

[19, 'optimus@gmail.com', 65000]

In [11]:
age,email,salary=empdat["optimus"]
age,email,salary

(19, 'optimus@gmail.com', 65000)

In [13]:
empdat["optimus"][0]

19

In [14]:
empdat["optimus"][:-1]

[19, 'optimus@gmail.com']

In [15]:
empdat["optimus"][0::2]

[19, 65000]

In [16]:
empdat["optimus"][2]=150000
empdat["optimus"]

[19, 'optimus@gmail.com', 150000]

In [17]:
del empdat["kumar"]

In [18]:
empdat

{'saravana': [21, 'saravana@gmail.com', 98000],
 'satheesh': [23, 'satheesh@gmail.com', 60000],
 'optimus': [19, 'optimus@gmail.com', 150000],
 'prime': [20, 'prime@gmail.com', 75000]}

In [19]:
empdat["kani"]=[23,"kani@gmail.com",200000]

In [20]:
empdat

{'saravana': [21, 'saravana@gmail.com', 98000],
 'satheesh': [23, 'satheesh@gmail.com', 60000],
 'optimus': [19, 'optimus@gmail.com', 150000],
 'prime': [20, 'prime@gmail.com', 75000],
 'kani': [23, 'kani@gmail.com', 200000]}

In [19]:
# Nested Dictionary

data={"Student":{"name":"optimus","Gender":"Male","Age":21},"Employee":{"name":"prime","Gender":"Male","Salary":50000},"Developer":{"name":"Optimus prime","Technology":"Python","Experience":5}}
data

{'Student': {'name': 'optimus', 'Gender': 'Male', 'Age': 21},
 'Employee': {'name': 'prime', 'Gender': 'Male', 'Salary': 50000},
 'Developer': {'name': 'Optimus prime',
  'Technology': 'Python',
  'Experience': 5}}

In [20]:
data["Student"]["Gender"]

'Male'

In [21]:
data["Employee"]["name"],data["Employee"]["Gender"]="Kani","Female"
data["Employee"]

{'name': 'Kani', 'Gender': 'Female', 'Salary': 50000}

In [22]:
del data["Employee"]["Salary"]

In [23]:
data["Employee"]

{'name': 'Kani', 'Gender': 'Female'}

In [28]:
data

{'Student': {'name': 'optimus', 'Gender': 'Male', 'Age': 21},
 'Employee': {'name': 'Kani', 'Gender': 'Female'},
 'Developer': {'name': 'Optimus prime',
  'Technology': 'Python',
  'Experience': 5}}

In [30]:
# Iterating Nested Dictionary
for position,person_info in data.items():
    print(position)
    for info in person_info:
        print(info +" : ",person_info[info])

Student
name :  optimus
Gender :  Male
Age :  21
Employee
name :  Kani
Gender :  Female
Developer
name :  Optimus prime
Technology :  Python
Experience :  5

In [12]:
# Dictionary  Comprehension

data=dict({x:x*x for x in range(10)})
data

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [15]:
data={x:x*x for x in range(20) if x%2==1}
data

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361}