In [7]:
from resolver import Resolver as resolve

In [9]:
res = resolve()
res('google.com')

{'google.com': '216.58.200.142'}

In [10]:
def sequence_class(immutable):
    if immutable:
        cls = tuple
    else:
        cls = list
    return cls

In [11]:
seq = sequence_class(immutable = True)
t = seq('optimus')
t

('o', 'p', 't', 'i', 'm', 'u', 's')

In [12]:
seq = sequence_class(immutable = False)
t = seq('optimus')
t

['o', 'p', 't', 'i', 'm', 'u', 's']

# Conditionals:

**Conditional Statement**

In [15]:
condition = True

if condition:
    result = 'True'
else:
    result = 'False

**Conditional Expression** - PEP 308

In [16]:
result = 'True' if condition else 'False'

In [18]:
def sequence_class(immutable):
    return tuple if immutable else list

In [19]:
seq = sequence_class(True)

In [20]:
seq('optimus')

('o', 'p', 't', 'i', 'm', 'u', 's')

In [21]:
seq = sequence_class(False)

In [22]:
seq('optimus prime')

['o', 'p', 't', 'i', 'm', 'u', 's', ' ', 'p', 'r', 'i', 'm', 'e']