# List:

In [1]:
s = 'I am optimus prime'.split()
s

['I', 'am', 'optimus', 'prime']

In [2]:
s[2]

'optimus'

In [3]:
s[-4]

'I'

In [4]:
s[-0]

'I'

In [5]:
s[0]

'I'

In [8]:
s[1:3]

['am', 'optimus']

In [9]:
s[:]

['I', 'am', 'optimus', 'prime']

In [10]:
s[:3]

['I', 'am', 'optimus']

In [11]:
s[0:]

['I', 'am', 'optimus', 'prime']

In [48]:
s[1:-1]

[10000, 'optimus']

# Slice Assignment:

In [47]:
full_slice = s[:]
full_slice

['I', 10000, 'optimus', 'prime']

In [20]:
full_slice == s

True

In [21]:
full_slice is s

False

In [22]:
s[:3]+s[3:] == s

True

In [23]:
s[1] = 100

In [24]:
s

['I', 100, 'optimus', 'prime']

In [45]:
full_slice

['I', 'am', 'optimus', 'prime']

# copy():

In [26]:
u = s.copy()

In [36]:
u[1] =1000
s

['I', 100, 'optimus', 'prime']

In [43]:
u

['I', 1000, 'optimus', 'prime']

# list():

In [39]:
l = list(s)
l

['I', 100, 'optimus', 'prime']

In [40]:
s[1] = 10000

In [41]:
s

['I', 10000, 'optimus', 'prime']

In [42]:
l

['I', 100, 'optimus', 'prime']

# Shallow  copy:

In [49]:
a = [[1,2],[3,4]]
a

[[1, 2], [3, 4]]

In [51]:
b = a[:]
id(b)

545063314824

In [52]:
id(a)

545063314632

In [53]:
a is b

False

In [54]:
a == b

True

In [55]:
a[0] is b[0]

True

In [56]:
a[0] = [8,9]

In [57]:
b[0]

[1, 2]

In [58]:
a[0]

[8, 9]

In [59]:
a[1].append(5)

In [60]:
a

[[8, 9], [3, 4, 5]]

In [61]:
b

[[1, 2], [3, 4, 5]]

# List Repetation:

In [63]:
c = [21,37]

In [64]:
d = c*4

In [65]:
d

[21, 37, 21, 37, 21, 37, 21, 37]

In [66]:
[0] * 9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

# Repetition in shallow:

In [68]:
s = [[-1, +1]]*5

In [69]:
s

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [70]:
s[3].append(7)

In [71]:
s

[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

In [72]:
w = 'I am optimus prime . I am python developer'.split()

In [73]:
w

['I', 'am', 'optimus', 'prime', '.', 'I', 'am', 'python', 'developer']

In [74]:
w.index('am')

1

In [76]:
w[1]

'am'

In [77]:
'am' in w

True

In [78]:
'prime' not in w

False

In [79]:
del w[3]

In [80]:
w

['I', 'am', 'optimus', '.', 'I', 'am', 'python', 'developer']

In [81]:
w.remove('.')

In [82]:
w

['I', 'am', 'optimus', 'I', 'am', 'python', 'developer']

In [86]:
del w[w.index('am')]

In [87]:
w

['I', 'optimus', 'I', 'python', 'developer']

In [88]:
w.remove('prime')

ValueError: list.remove(x): x not in list

In [90]:
w.insert(1,'prime')

In [91]:
w

['I', 'prime', 'optimus', 'I', 'python', 'developer']

In [92]:
' '.join(w)

'I prime optimus I python developer'

In [93]:
m =[1,2,3]
n= [4,5,6]
m+n

[1, 2, 3, 4, 5, 6]

In [94]:
m+= [1,2]

In [95]:
m

[1, 2, 3, 1, 2]

In [99]:
a = [1,2,3,4,5,6,7,8]
a.reverse()
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [102]:
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [112]:
a.sort(reverse = True)
a

[8, 7, 6, 5, 4, 3, 2, 1]

# sort() method key arg:

In [107]:
w.sort(key = len)
w

['I', 'I', 'prime', 'python', 'optimus', 'developer']

In [108]:
' '.join(w)

'I I prime python optimus developer'

In [110]:
x =[4,9,2,1]
y = sorted(x)
y

[1, 2, 4, 9]

In [111]:
p = [9,3,1,0]
q = reversed(p)
p

[9, 3, 1, 0]