# Sets:

    => unorder collection
    => unique
    => immutable

In [1]:
p = {1,2,2,32,3,23,2}
p

{1, 2, 3, 23, 32}

In [2]:
d = {}

In [3]:
type(d)

dict

In [5]:
s = set([2,34,23,423,432,423,42,34])
s

{2, 23, 34, 42, 423, 432}

In [13]:
t = [1,4,2,1,7,9,9]
t = set(t)

In [14]:
for data in t:
    print(data)

1
2
4
7
9

In [15]:
1 in t

True

100 not in t

In [55]:
type(t)

set

# Add:

t.add(345)
t

In [56]:
t.add(34)
t

{1, 2, 7, 24, 32, 34, 234, 345}

# Update:

In [22]:
t.update([1,32,4,234,24])

In [57]:
t

{1, 2, 7, 24, 32, 34, 234, 345}

# Delete:

t.remove(4)

In [25]:
t

{1, 2, 7, 9, 24, 32, 34, 234, 345}

In [26]:
t.discard(9)

In [58]:
t

{1, 2, 7, 24, 32, 34, 234, 345}

# Copy:

In [28]:
j = t.copy()
j

{1, 2, 7, 24, 32, 34, 234, 345}

In [29]:
j.add(34522)

In [30]:
j

{1, 2, 7, 24, 32, 34, 234, 345, 34522}

In [31]:
t

{1, 2, 7, 24, 32, 34, 234, 345}

In [33]:
m = set(t)
m.add(6767)
m

{1, 2, 7, 24, 32, 34, 234, 345, 6767}

t

# set algebra:

In [59]:
# Inital data
blue_eyes = {'Olivia', 'Harry', 'Lily', 'Jack', 'Amelia'}
blond_hair = {'Harry', 'Jack', 'Amelia', 'Mia', 'Joshua'}
smell_hcn = {'Harry', 'Amelia'}
taste_ptc = {'Harry', 'Lily', 'Amelia', 'Lola'}
o_blood = {'Mia', 'Joshua', 'Lily', 'Olivia'}
b_blood = {'Amelia', 'Jack'}
a_blood = {'Harry', 'Lola'}

# Union:

In [37]:
#  find the mans who has blue eye and blond hair
blue_eyes.union(blond_hair)

{'Amelia', 'Harry', 'Jack', 'Joshua', 'Lily', 'Mia', 'Olivia'}

In [60]:
blue_eyes.union(blond_hair) == blond_hair.union(blue_eyes)

True

# Intersection:

In [41]:
blue_eyes.intersection(blond_hair)

{'Amelia', 'Harry', 'Jack'}

In [61]:
blue_eyes.intersection(blond_hair) == blond_hair.intersection(blue_eyes)

True

# Difference:

In [40]:
blond_hair.difference(blue_eyes)

{'Joshua', 'Mia'}

In [62]:
blond_hair.difference(blue_eyes) == blue_eyes.difference(blond_hair)

False

# Symmetric difference:

In [44]:
blond_hair.symmetric_difference(blue_eyes)

{'Joshua', 'Lily', 'Mia', 'Olivia'}

In [63]:
blond_hair.symmetric_difference(blue_eyes) == blue_eyes.symmetric_difference(blond_hair)

True

# issubset:

In [64]:
smell_hcn.issubset(blond_hair)

True

# issuperset:

In [65]:
taste_ptc.issuperset(smell_hcn)

True

# isdisjoint:

In [54]:
a_blood.isdisjoint(o_blood)

True