In [1]:
 d = ('dfsdf',2.3,5)

In [2]:
d[1]

2.3

In [4]:
d[0]

'dfsdf'

In [5]:
len(d)

3

In [6]:
for data in d:
    print(data)

dfsdf
2.3
5

In [7]:
d + (12,1,23123)

('dfsdf', 2.3, 5, 12, 1, 23123)

In [8]:
d *3

('dfsdf', 2.3, 5, 'dfsdf', 2.3, 5, 'dfsdf', 2.3, 5)

In [9]:
a =((1,2,3,4,234,23),(12,3,12,3,12,31,23,1))
a

((1, 2, 3, 4, 234, 23), (12, 3, 12, 3, 12, 31, 23, 1))

In [10]:
a[1]

(12, 3, 12, 3, 12, 31, 23, 1)

In [11]:
a[1][2]

12

In [12]:
h =(2131)

In [13]:
type(h)

int

In [14]:
k =(213, )

In [15]:
type(k)

tuple

In [16]:
e =()

In [17]:
type(e)

tuple

In [18]:
p =1,23,12,3,123,123,123
type(p)

tuple

In [19]:
p

(1, 23, 12, 3, 123, 123, 123)

In [22]:
def minmax(items):
    return min(items), max(items)
a = minmax([1,2,1,23,123,1,3])

In [23]:
type(a)

tuple

In [24]:
a

(1, 123)

In [25]:
lower, upper = minmax([12,3,12,3,123,1,23,12,31,234])

In [26]:
lower

1

In [27]:
upper

234

In [28]:
type(lower)

int

In [29]:
type(upper)

int

In [30]:
(a,(b,(c,d))) = (1,(2,(3,4)))

In [31]:
a

1

In [32]:
b

2

In [33]:
c

3

In [34]:
d

4

In [35]:
a= 'jell'
b = 'hell'
a,b

('jell', 'hell')

In [36]:
a,b = b,a

In [37]:
a,b

('hell', 'jell')

In [38]:
tuple([2,34,2,34,23,423,4,234234])

(2, 34, 2, 34, 23, 423, 4, 234234)

In [39]:
tuple('optimus prime')

('o', 'p', 't', 'i', 'm', 'u', 's', ' ', 'p', 'r', 'i', 'm', 'e')

In [41]:
5 in (23423,4,324,)

False

In [42]:
5 not in (23,4,234,23,4,23)

True